:root{
    --Blue: #1ef1fa;
    --background_1: #1ef1fa;
    --Pink: #f60282;
    --button_std: #f60282;
    --MintGreen: #07fbb6;
    --background_2: #07fbb6;
    --Purple: #6b15f1;
    --stroke_med: #6b15f1;
    --DarkBlue: #039d9d;
    --shadow_blue: #039d9d;
    --DarkPink: #7b0738;
    --shadow_pink: #7b0738;
    --DarkGreen: #04725c;
    --shadow_green: #04725c;
    --DarkPurple: #070708;
    --stroke_dark: #070708;
    --stroke_lighter: #53535f;
    --shadow_dark: #07070885;
    --LightBlue: #cdebeb;
    --highlight_blue: #cdebeb;
    --LightPink: #e8e2e5;
    --highlight_pink: #e8e2e5;
    --LightGreen: #cce8e0;
    --highlight_green: #cce8e0;
    --font_headline_1: 'Orbitron', sans-serif;
    --font_cursive_1: 'Abril Fatface', cursive;
    --font_headline_2: 'Monoton', cursive;
    --font_serif_1: 'Zilla Slab', serif;
    --font_sans_1: 'Didact Gothic', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font_sans_1)
}

.header {
    color: white;
    background-color:var(--DarkPurple);
    width: 100%;
    padding:.5rem;
    font-family:var(--font_headline_2);
    font-size: 3rem;
    text-align: center;

}
.header a{
    text-decoration: none;
    color:white;
}

.header a:hover {
    color: var(--highlight_green)
}

.header-links{
    font-family: Helvetica, Arial, sans-serif;
    font-size: .85rem;
}

.menu-heading {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
}
.container {
    display: flex;
    width: 80%;
    flex-direction: column;
    min-width: 400px;
    margin: 0 auto;
    border: 10px thin var(--LightBlue);
}
.top-bar {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 1rem;
}

.top-bar a {
    color: black;
    text-decoration: none;
}

.logo {
    color: white;
    font-size: .5rem;
    background-color:black;
    width: 50px;
    height: 50px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    margin: .5rem;
    padding: .5rem;
    font-family: 'Abril Fatface', cursive;
}

.cocktail-name {
    font-size: 55px;
    font-family: var(--font_headline_2);
    margin: .5rem;
    color: var(--Purple);
    text-underline-offset: var(--DarkPurple);
}
.add-ingredient-button {
    border: 1px solid var(--DarkPink);
    border-radius: 10px;
    padding: .5rem;
    background-color: var(--button_std);
    font-family: 'Abril Fatface', cursive;
    color:white
}

.ingredient-list {
    background-color:var(--DarkBlue);
}
.dollars-in{
    color:green;
}

.money-sign-out{
    color:red;
}
.cost-bar {
    color:var(--stroke_dark);
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: center;
    align-items: baseline;
    background-color: var(--background_2);
    font-family: var(--font_sans_1);
/*     justify-content: flex-end;
    align-items: center;
    background-color: var(--Pink);
    border: thick double var(--DarkPink);
    font-family: var(--font_cursive_1); */
}

.target-cost {
    color:white;
    font-size: 25px;
    justify-content: left;
}

.percent-field {
    font-size: 1.25rem;
    height: 1.5rem;
    margin: 2rem;
    border: 2px solid var(--DarkPink);
}

.cost-sell-box {
    display: flex;
    justify-content: space-evenly;
    border-top: .25px solid var(--stroke_lighter);
    background-color: var(--highlight_green);
    padding: 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: var(--font_sans_1);
    box-shadow: -1px 1px 3px var(--shadow_dark);
}

.total-cost-box,
.menu-price-box {
    font-size: 1.5rem;
    text-align: center;
}

.ingredient-box {
    display: flex;
    flex-direction: column;
    border: 5px dotted var(--DarkBlue);
    padding: 1rem;
    margin: 1.5rem;
    background-color: var(--Blue);
    font-family: var(--font_cursive_1);
    background-blend-mode: color;
    border-radius: 10px;
}
.ingredient-title-line {
    display: flex;
}

.spirit-type-icon {
    color:var(--LightGreen);
    font-size: .5rem;
    background-color: var(--DarkBlue);
    width: 50px;
    height: 50px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    margin: .5rem;
    padding: .5rem;
}

.ingredient-name {
    justify-self: center;
    font-size: 20px;
}
.slider-bar {
    display: flex;
    justify-content: space-between ;

}
.slider {
    width: 50%;
}

.save-button {
    justify-content: center;
    font-size: 1rem;
    padding: .5rem;
    margin: 0;
    background-color: var(--button_std);
    border: 1px solid var(--DarkPink);
    border-radius: 10px;
    font-family: 'Abril Fatface', cursive;
    color:white
}
/* REPLACE THE FOLLOWING AT SOME POINT: */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }

  .modal-body {
    margin: 20px 0;
  }

  .modal-default-button {
    float: right;
  }

  /*
   * the following styles are auto-applied to elements with
   * v-transition="modal" when their visiblity is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

  .modal-enter, .modal-leave {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
/* REPLACE ABOVE */
.btn {
    background-color: var(--button_std);
    color:white;
    padding: .3rem;
    border-radius: 5px;
}

.btn:hover {
    color: var(--stroke_dark);
}

.create-btn {
    background-color: var(--button_std);
    color:white;
    padding: .3rem;
    border-radius: 5px;
    float:right
}

.menu-item {
    display: flex;
    width: 100%;
    min-width: 400px;
    background-color: var(--highlight_pink);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: flex-end; */
}
/* .menu-item p {
    align-self: flex-start;
} */
.menu-butt {
    justify-self: flex-end;
}

.modal-bg {
    background-color: rgba(0,0,0,.4);
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    align-items: center;
}

.modal-container {
    background-color: var(--highlight_blue);
    border-radius: 5x;
    box-shadow: -2px 2px 20px var(--shadow_dark);
    height: fit-content;
    padding: 10px;
    margin: 0 auto;
}
.ingredient-ul {
    list-style-type: disc;
    list-style-position: inside;

}

.form-input {
    background-color: var(--highlight_blue);
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-style: none;
    outline: none;
}

.fa-angle-double-left, .fa-angle-double-right {
    color: var(--background_2);
    font-size: 4rem;
    text-shadow: -1px 1px 3px var(--shadow_dark);
}

.fa-angle-double-left:hover, .fa-angle-double-right:hover {
    color: var(--stroke_dark);
}

.menu-input {
    height: 100%;
    width: 20%;
}

.menu-mid {
    height: 100%;
    width: 60%;
    flex-wrap: wrap;
    text-align: center;
}

.input-default{
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    background-color: var(--highlight_blue);
    font-size: 1rem;
    width: 60px;
    text-align: center;
    border: 1px solid var(--stroke_lighter);
    outline: none;
}

.close-button{
    border: 1px solid var(--DarkPink);
    border-radius: 10px;
    padding: .3rem;
    background-color: rgb(194, 5, 5);
    font-family: 'Abril Fatface', cursive;
    float:right;
}

/* ----OVERWRITERS DON'T PUT ANYTHING BELOW THIS UNLESS IT'S AN OVERWRITER----- */
.modal-lg {
    height: 400px;
    width: 50%;
    min-width: 400px;
}
.text-white {
    color:white;
}

.pnk-bg {
    background-color: var(--highlight_pink)
}

.green-bg {
    background-color: var(--background_2)
}

.text-dark {
    color: var(--stroke_dark)
}

.light-stroke {
    color: var(--stroke_lighter);
}

.justify-self {
    justify-self: center;
}

.bold {
    font-weight: bold;
}
.flex {
    display: flex;
}

.default-shadow {
    box-shadow: -1px 1px 3px var(--shadow_dark);
    border: none;
}

.wide-100 {
    width: 100%;
}

.wide-80 {
    width: 80%;
}
.wide-70 {
    width: 70%;
}
.wide-30 {
    width: 30%
}
.wide-20 {
    width: 20%
}

.center-txt {
    text-align: center;
}

.vert-margin-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.vert-margin-3 {
    margin-top: 3px;
    margin-bottom: 3px;
}
.pad-5 {
    padding: 5px;
}

.center-butt {
    width: 40%;
}

.just-cent {
    justify-content: center;
}

.align-base {
    align-items: baseline;
}

.align-right {
    text-align: right;
}

.white-bg{
    background-color: white;
}
.text-left {
    text-align: left;
}
.list-display {
    height: 50px;
    overflow-y: scroll;
}

.flex-end {
    align-self: flex-end;
}