{% extends 'base.html' %}

{% block title %}
    Drink Builder
{% endblock %}
{% block content %}
<div class='container' id='drink-builder'>
    <div class='top-bar'>
        <p class='logo'>Logo</p>
        <h2 class='cocktail-name'>Cocktail Name</h2>
        <a href='#'><p class='add-ingredient-button'> ADD INGREDIENT</p></a>
    </div>
    <div class='cost-bar'>
        <p class='target-cost'>Enter Target Cost %:</p>
        <input class='percent-field' id='target-cost-value' type='number' min='1' max='100' value='15'>
    </div>
    <div class='cost-sell-box'>
        <input class='vert-slider' type="range" min="1" max="100" value="10" class="slider" id="myRange">
        <div class='total-cost-box'>
            <p>Cost of Goods</p>
            <p>$<span id='cost-of-goods-value'></span></p>
        </div>
        <div class='menu-price-box'>
            <p>Menu Price</p>
            <p>$<span id='menu-price-value'></span></p>
        </div>
    </div>
    <div v-for="ingredient in ingredients" class='menu-item'>
        <div class='ingredient-box'>
            <div class='ingredient-title-line'>
                <p class='spirit-type-icon'>WHISKEY</p>
                <p class='ingredient-name'>Evan Williams Green Label</p>
            </div>
            <div class='slider-bar'>
                <p>Cost: $1.31<span id="ing-cost"></span></p>
                <input class='slider' type="range" min=".0625" max="100" value="50" class="slider" id="myRange">
                <p>Vol: 1.25<span></span>oz</p>
            </div>
        </div>
    </div>
    <button @click="saveCocktail" class='save-button' type="button">SAVE</button>


</div>

<script>
let app = new Vue({
  delimiters: ['[[', ']]'],
  el: '#drink-builder',
  ingredients: [],
  data: {
    cocktails: cocktails,
  },
  methods: {
    saveCocktail: function(id) {
      console.log("waddup")
    },
    editCoctail: function(id) {
      console.log(`Haha, youre trying to edit cocktail ${id} but I didnt listen`)
    }
  }
})

</script>

{% endblock content %}

