{% extends 'base.html' %}

{% block title %}
    Drink Builder
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type='text/javascript'>
const cocktail = {{ cocktail|safe }}
</script>
<!------------------------------- HTML --------------------------------->
<div class='container' id='drink-edit'>
    <div class='top-bar'>
        <p class='logo'>Logo</p>
        <h2 class='cocktail-name'>[[cocktail.name]]</h2>
        <a href='#'><p class='add-ingredient-button'> ADD INGREDIENT</p></a>
    </div>
    <div class='cost-bar'>
        <p class='target-cost'>Enter Desired Margin:</p>
        <input v-model="targetMargin">
    </div>
    <div class='cost-sell-box'>
        <div class='total-cost-box'>
            <p>Cost of Goods</p>
            <!-- <p>$ [[ totalCost ]]</p> -->
        </div>
        <div class='menu-price-box'>
            <p>Menu Price</p>
            <p>$[[ menuPrice ]]</p>
        </div>
    </div>

    <div v-for="shot in cocktail.shots" class="menu-item default-shadow">
      <shot-line v-bind:shot="shot" v-bind:id="shot.id" v-on:change="updateTotal"></shot-line>
    </div>

    <button class='btn green-bg default-shadow vert-margin-10 text-dark' type="button">SAVE</button>
</div>

<script>
// --------------------------------------AJAX CONFIG-------------------------------------
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const instance = axios.create({
  headers: {
    'X-CSRFToken': getCookie("csrftoken"),
    'Content-Type': 'application/json',
    'Accept': 'application/json'
  }
})


let allPours = document.querySelectorAll('.pour-cost')
// ----------------------------------VUE COMPONENTS---------------------------------------

const ShotLine = {
  delimiters: ['[[', ']]'],
  props: {
    shot: Object,
  },
  components:{
    VueSlider: window['vue-slider-component']
  },
  data: function(){
    return {
      volume: this.shot.volume,
      pourCost: 0,
    }
  },
  template:`
  <div v-bind:id="shot.id" class="wide-100 flex">
    <div class="wide-100 flex">
      <div class="menu-input center-txt">
        <i @click="subtractVolume"class="fas fa-angle-double-left" title="decrease pour volume by 0.25 oz"></i>
        <p class="light-stroke">LESS</p>
      </div>
      <div class="menu-mid">
        <p class='bold wide-100 center-txt'>[[ shot.brandname ]]</p>
        <div class='wide-100 center-txt'>
        <input type="number" min="0" v-model="volume" placeholder="custom"/><label>oz</lable>
        </div>
        <p class="wide-100 center-txt">Cost of pour: $ <span class="pour-cost">[[ adjustedPourCost ]]</span></p>
        <button v-on:click="addToDeleted(shot.id)" v-on:click="deleteShot(shot.id)" class="btn center-butt default-shadow">DELETE</button>
      </div>
      <div class="menu-input center-txt">
        <i @click="addVolume" class="fas fa-angle-double-right" title="increase pour volume by 0.25 oz"></i>
        <p class="light-stroke">MORE</p>
      </div>
    </div>

  </div>`,
  methods: {
    deleteShot: function(id) {
        instance.delete(`http://127.0.0.1:8000/api/shot/${id}`)
        .then(function(response) {
          console.log(this.deletedShots)
      }).then(function(id){
      }).catch(function(ex) {
        console.log('parsing failed', ex)
      })

      console.log(`DELETE Shot ${id}`)
    },
    addVolume: function(){
      this.volume+=0.25
    },
    subtractVolume: function(){
      this.volume-=0.25
    },
    addToDeleted: function(id) {
      console.log('addToDeleted runs')
      this.$parent.deletedShots.push(id)
      console.log(this.$parent.deletedShots)
    }
    
  },
  computed: {
    adjustedPourCost: function(){
      return (parseFloat(this.shot.cost) * parseFloat(this.volume)).toFixed(2)
    },
  },
  mounted (){
      this.pourCost = (parseFloat(this.shot.cost) * parseFloat(this.volume)).toFixed(2)
  }
}

// -----------------------------------VUE APP INSTANCE---------------------------
let app = new Vue({
  delimiters: ['[[', ']]'],
  el: '#drink-edit',
  components: {
    'shot-line': ShotLine,
    // "portion-line": PortionLine,
  },
  data: {
    cocktail: cocktail,
    targetMargin: .2,
    menuPrice: 0,
    newShots: [],
    newPortions: [],
    deletedShots: [],
    showModal: -1,
    allPourCosts: function(){
      return document.querySelectorAll('.pour-cost')
    },
    modal_info:{
      id:"",
      name: "",
      target:"",
      shots: {
        id:"",
        volume:"",
        cost:"",
        brandname:""
      },
      portions: {
        id:"",
        amount:"",
        cost:"",
        name:""
      }
    }
  },
  methods: {
    saveCocktail: function(id) {
        instance.post(`http://127.0.0.1:8000/api/cocktail/${id}`)
    },
    cocktailSummary: function(id) {
      this.showModal = id
      for(let cocktail of this.cocktails){
        if(cocktail.id == id) {
          this.modal_info = cocktail
          this.modal_shots = cocktail.shots
          this.modal_portions = cocktail.portions
        }
      }
    },
    updateTotal: function(){
      this.totalCost = 0
      output = 0
      allInputs = document.querySelectorAll('.pour-cost')
      for (let input of allInputs){
        output+= parseFloat(input.textContent)
      }
      this.totalCost = output.toFixed(2)
      this.menuPrice = (parseFloat(this.totalCost)*parseFloat(this.targetMargin)+parseFloat(this.totalCost)).toFixed(2)
    },
    
  },
  computed: {
    getTotalCost: function(){
      output = 0
      allInputs = document.querySelectorAll('.pour-cost')
      for (let input of allInputs){
        output+= parseFloat(input.textContent)
      }
      return output.toFixed(2)
    },
    filterDeletedShots: function(){
      return cocktails.filter((cocktail)=>{
        return cocktail.name.toUpperCase().match(this.search.toUpperCase())
      })
    }
  }
})

// <input v-model="volume" v-on:change="adjustPourCost" v-on:change="$emit('change')" type="range" min=".25" max="6" step=".25" class="slider"/>
</script>

{% endblock %}