{% extends 'base.html' %}

{% block title %} 
    Drink Builder
{% endblock %}
{% block content %}
<div class='container'>
    <div class='top-bar'>
        <p class='logo'>LOGO</p>
        <h2 class='cocktail-name'>Cocktail Name</h2>
        <a href='#'><p class='add-ingredient-button'>ADD INGREDIENT</p></a>
    </div>
    <div class='cost-bar'>
        <p class='target-cost'>Enter Target Cost %:</p>
        <input class='percent-field' type='number' min='1' max='100'>
    </div>
    <div class='cost-sell-box'>
        <div class='total-cost-box'>
            <p>Cost of Goods</p>
            <p>$2.50</p>
        </div>
        <div class='menu-price-box'>
            <p>Menu Price</p>
            <p>$10.00</p>
        </div>
    </div>
    <div class='ingredient-box'>
        <div class='ingredient-title-line'>
            <p class='spirit-type-icon'>WHISKEY</p>
            <p class='ingredient-name'>Evan Williams Green Label</p>
        </div>  
        <div class='slider-bar'>
            <p>Cost: $1.31<span id="ing-cost"></span></p>
            <input class='slider' type="range" min=".0625" max="100" value="50" class="slider" id="myRange">
            <p>Vol: 1.25<span></span>oz</p>
        </div>
    </div>
    <div class='ingredient-box'>
        <div class='ingredient-title-line'>
            <p class='spirit-type-icon'>VODKA</p>
            <p class='ingredient-name'>Ketel One</p>
        </div>  
        <div class='slider-bar'>
            <p>Cost: $2.40<span id="ing-cost"></span></p>
            <input type="range" min=".0625" max="100" value="50" class="slider" id="myRange">
            <p>Vol: 2.0<span></span>oz</p>
        </div>
    </div>
    <div class='ingredient-box'>
        <div class='ingredient-title-line'>
            <p class='spirit-type-icon'>LIQUEUR</p>
            <p class='ingredient-name'>Hatfield & McCoy The Devil's Fire Moonshine</p>
        </div>  
        <div class='slider-bar'>
            <p>Cost: $2.40<span id="ing-cost"></span></p>
            <input type="range" min=".0625" max="100" value="50" class="slider" id="myRange">
            <p>Vol: 2.0<span></span>oz</p>
        </div>
    </div>
    <button class='save-button' type="button">SAVE</button>
    

</div>
{% endblock content %}
