{% extends 'base.html' %}

{% block title %}
Drink Builder
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type='text/javascript'>
  const cocktail = {{ cocktail| safe }}
  const spirits = {{ spirits| safe }}

</script>
<!------------------------------- HTML --------------------------------->
<div class='container' id='drink-edit'>
  <div class='top-bar'>
    <p class='logo'>Logo</p>
    <h2 class='cocktail-name'>[[cocktail.name]]</h2>
    <div id="drink-edit">
<!---------------------------MODAL CODE--------------------------------------->
      <button @click='modalAction()' class='btn' type=button> ADD INGREDIENT</button>
      <div v-if="modal" class=modal-bg>
        <div class="modal-container modal-lg just-cent align-base">
          <select class="wide-70 input-default white-bg" v-model="toAdd">
            <option value="shot">Pick from Database</option>
            <option value="portion">Custom</option>
          </select>
          <button @click='modalAction()' type="button" class="btn wide-20"> Close</button>
          <div v-if="toAdd=='shot'">
            <select class="wide-100 input-default white-bg" v-model="spiritSelection">
              <option value="All" selected>All Categories</option>
              <option value="Brandy & Cognac">Brandy & Cognac</option>
              <option value="Bourbon">Bourbon</option>
              <option value="Canadian Whiskey">Canadian Whiskey</option>
              <option value="Cordials & Liqueurs">Cordials & Liqueurs</option>
              <option value="Gin">Gin</option>
              <option value="Irish Whiskey">Irish Whiskey</option>
              <option value="NC Products">NC Products</option>
              <option value="Other">Other</option>
              <option value="Rum">Rum</option>
              <option value="Rye">Rye</option>
              <option value="Scotch">Scotch</option>
              <option value="Tequila & Mezcal">Tequila & Mezcal</option>
              <option value="Vodka">Vodka</option>
              <option value="Whiskey - Other">Whiskey - Other</option>
            </select>
            <input v-model="spiritSearch" type="text" placeholder="filter by name" class="input-default wide-100 white-bg"/>
            <select class="input-default wide-100 text-left pad-5 white-bg" v-model="newShot" id="" size="12">
              <option class="vert-margin-3" v-for="spirit in filteredSpirits" v-bind:value="spirit.id"class="wide-100 white-bg">[[ spirit.brandname ]]: $ [[ spirit.cost ]] per oz </option>
            </select>

            <button @click='' type="button" class="btn green-bg">Add to Cocktail</button>
          </div>
          <div v-if="toAdd=='portion'">
            <input class="wide-100 input-default white-bg"id="portion-ingredient" v-model="newPortion.ingredient" type="text" placeholder="Name of ingredient"/>
            <label class="wide-30" for="portion-unit-cost">Price per unit: $</label><input class="wide-70 input-default white-bg" id="portion-unit-cost" v-model="newPortion.costPerUnit" type="number"/>
            <input class="wide-100 input-default white-bg"v-model="newPortion.unit" type="text" placeholder="unit" title="ounces, grams, ml, etc."/>
            <label class="wide-30" for="portion-starting-amt">Amount:</label><input class="wide-70 input-default white-bg" id="portion-starting-amt" v-model="newPortion.startingAmount" type="number"/>
            <button class="btn green-bg">SUBMIT</button>
          </div>
        </div>
      </div>
<!--------------------------END MODAL CODE--------------------------------------->
    </div>
  </div>
  <div class='cost-bar default-shadow'>
    <p class='target-cost'>Adjust Percentage of Menu Price:</p>
    <div class="input-contain">
      <input id="target-percent" class="input-default" v-model="targetMargin" type="number" min="1" max="100"><label
        for="target-percent">%</label>
    </div>
  </div>
  <div class='cost-sell-box default-shadow'>
    <div class='total-cost-box'>
      <p>Cost of Goods</p>
      <p>$ [[ displayCost ]]</p>
    </div>
    <div class='menu-price-box'>
      <p>Menu Price</p>
      <p>$[[ menuPrice ]]</p>
    </div>
  </div>

  <div v-for="shot, index in filterDeletedShots" class="menu-item default-shadow">
    <shot-line :key="shot.id" :shot="shot" :index="index"></shot-line>
    <button type="button" v-on:click='deleteDog(index)'>Delete</button>
  </div>
  <div v-for="portion in filterDeletedPortions" class="menu-item default-shadow">
    <portion-line v-bind:portion="portion"></portion-line>
  </div>

  <button class='btn green-bg default-shadow vert-margin-10 text-dark' type="button">SAVE</button>
</div>

<script>
  // --------------------------------------AJAX CONFIG-------------------------------------
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  const instance = axios.create({
    headers: {
      'X-CSRFToken': getCookie("csrftoken"),
      'Content-Type': 'application/json',
      'Accept': 'application/json'
    }
  })

  // ----------------------------------VUE COMPONENTS---------------------------------------

const ShotLine = {
  delimiters: ['[[', ']]'],
  props: {
    shot: Object,
    index: Number,
    key: Number,
    deleteDoo: Function,
  },
  data: function () {
    return {
      volume: "",
      pourCost: "",
    }
  },
  template: `
  <div class="wide-100 flex">
    <div class="wide-100 flex">
      <div class="menu-input center-txt">
        <i @click="subtractVolume" class="fas fa-angle-double-left" title="decrease pour volume by 0.25 oz"></i>
        <p class="light-stroke">LESS</p>
      </div>
      <div class="menu-mid">
        <p class='bold wide-100 center-txt'>[[ shot.brandname ]]</p>
        <p> [[key]] [[index]] [[shot]]
        <div class='wide-100 center-txt'>
        <input class="input-default" type="number" min="0" v-model="volume" placeholder="custom"/><label>oz</lable>
        </div>
        <p class="wide-100 center-txt">Cost of pour: $ <span class="ingredient-cost">[[ adjustedCost ]]</span></p>
        <button v-on:click="addToDeleted(shot.id)" v-on:click="deleteShot(shot.id)" v-on:click="deleteShotValues(index)" class="btn center-butt default-shadow">DELETE</button>
      </div>
      <div class="menu-input center-txt">
        <i @click="addVolume" class="fas fa-angle-double-right" title="increase pour volume by 0.25 oz"></i>
        <p class="light-stroke">MORE</p>
      </div>
    </div>

  </div>`,
  methods: {
    deleteShot: function (id) {
      instance.delete(`http://127.0.0.1:8000/api/shot/${id}`)
        .then(function (response) {
        }).then(function (id) {
        }).catch(function (ex) {
          console.log('parsing failed', ex)
        })

      console.log(`DELETE Shot ${id}`)
    },
    addVolume: function () {
      this.volume += 0.25
    },
    subtractVolume: function () {
      this.volume -= 0.25
    },
    addToDeleted: function (id) {
      this.$parent.deletedShots.push(id)
    },
    deleteShotValues: function (index) {
      // this.$parent.cocktail.shots.splice(index, 1)

      let costToSubtract = (parseFloat(this.shot.cost) * parseFloat(this.volume).toFixed(2))
      console.log('INDEX:', index)
      console.log(costToSubtract)
      console.log('Shot array:', cocktail.shots)
      this.$parent.totalPrice -= costToSubtract
    },
   
  },

  computed: {
    adjustedCost: function () {
      let total = (parseFloat(this.shot.cost) * parseFloat(this.volume)).toFixed(2)
      return total
    }
  },
  watch: {
    volume: function (newVolume, oldVolume) {
      newCost = newVolume * this.shot.cost
      oldCost = oldVolume * this.shot.cost

      this.$parent.totalPrice += newCost
      this.$parent.totalPrice -= oldCost
    }
  },
  mounted() {
    this.volume = this.shot.volume
  }
}
// ------------------------PORTION COMPONENT--------------------------------

const PortionLine = {
  delimiters: ['[[', ']]'],
  props: {
    portion: Object,
  },
  data: function () {
    return {
      amount: "",
      amountCost: "",
    }
  },
  template: `
  <div class="wide-100 flex">
    <div class="wide-100 flex">
      <div class="menu-input center-txt">
        <i @click="subtractAmount" class="fas fa-angle-double-left" title="decrease amount by 0.25 oz"></i>
        <p class="light-stroke">LESS</p>
      </div>
      <div class="menu-mid">
        <p class='bold wide-100 center-txt'>[[ portion.name ]]</p>
        <div class='wide-100 center-txt'>
        <input class="input-default" type="number" min="0" v-model="amount" placeholder="custom"/><label>[[ portion.unit ]]</lable>
        </div>
        <p class="wide-100 center-txt">Ingredient Cost: $ <span class="ingredient-cost">[[ adjustedCost ]]</span></p>
        <button @click="addToDeleted(portion.id)" @click="deletePortion(portion.id)" @click="deletePortionValues()" class="btn center-butt default-shadow">DELETE</button>
      </div>
      <div class="menu-input center-txt">
        <i @click="addAmount" class="fas fa-angle-double-right" title="increase pour volume by 0.25 oz"></i>
        <p class="light-stroke">MORE</p>
      </div>
    </div>

  </div>`,
  methods: {
    deletePortion: function (id) {
      instance.delete(`http://127.0.0.1:8000/api/portion/${id}`)
        .then(function (response) {
        }).then(function (id) {
        }).catch(function (ex) {
          console.log('parsing failed', ex)
        })

      console.log(`DELETE Portion ${id}`)
    },
    addAmount: function () {
      this.amount += 0.25
    },
    subtractAmount: function () {
      this.amount -= 0.25
    },
    addToDeleted: function (id) {
      this.$parent.deletedPortions.push(id)
    },
    deletePortionValues: function () {
      let costToSubtract = (parseFloat(this.portion.cost) * parseFloat(this.amount).toFixed(2))
      console.log(costToSubtract)
      this.$parent.totalPrice -= costToSubtract
    }

  },

  computed: {
    adjustedCost: function () {
      let total = (parseFloat(this.portion.cost) * parseFloat(this.amount)).toFixed(2)
      return total
    }
  },
  watch: {
    amount: function (newAmount, oldAmount) {
      newCost = newAmount * this.portion.cost
      oldCost = oldAmount * this.portion.cost

      this.$parent.totalPrice += newCost
      this.$parent.totalPrice -= oldCost
    }
  },
  mounted() {
    this.amount = this.portion.amount
  }
}

// -----------------------------------VUE APP INSTANCE---------------------------
let app = new Vue({
  delimiters: ['[[', ']]'],
  el: '#drink-edit',
  components: {
    'shot-line': ShotLine,
    "portion-line": PortionLine,
  },
  data: {
    cocktail: cocktail,
    spirits: spirits,
    targetMargin: cocktail.target,
    totalPrice: 0,
    newShots: [],
    newPortions: [],
    deletedShots: [],
    deletedPortions: [],
    spiritSelection:"All",
    toAdd:"shot",
    newShot:"",
    newPortion:{
      ingredient:"",
      costPerUnit:0,
      unit:"",
      startingAmount: 0,
    },
    spiritSearch:"",
    showModal: -1,
    modal:false,
    allPourCosts: function () {
      return document.querySelectorAll('.pour-cost')
    },
    modal_info: {
      id: "",
      name: "",
      target: "",
      shots: {
        id: "",
        volume: "",
        cost: "",
        brandname: ""
      },
      portions: {
        id: "",
        amount: "",
        cost: "",
        name: ""
      }
    }
  },
  methods: {
    modalAction() {
      if (this.modal == false) {
        this.modal = true
      } else {
        this.modal = false
      }
    },
    deleteDog: function (index) {
      console.log('fuck you', index)
      // let costToSubtract = (parseFloat(this.cocktail.shots[index].cost) * parseFloat(this.cocktail.shots[index].volume).toFixed(2))
      // console.log('INDEX:', index)
      // console.log(costToSubtract)
      // console.log('Shot array:', this.cocktail.shots)
      // this.totalPrice -= costToSubtract
      // this.cocktail.shots.splice(index, 1)
      // Vue.delete(this.cocktail.shots, index)
      cocktail.shots.splice(index, 1, '')



    },
    saveCocktail: function (id) {
      instance.post(`http://127.0.0.1:8000/api/cocktail/${id}`)
    },
  },
  computed: {
    displayCost: function () {
      return parseFloat(this.totalPrice).toFixed(2)
    },
    menuPrice: function () {
      return parseFloat(this.totalPrice / (this.targetMargin / 100)).toFixed(2)
      // parseFloat(this.totalPrice * (this.targetMargin/100) + this.totalPrice).toFixed(2)
    },
    filterDeletedShots: function () {
      return this.cocktail.shots.filter((shot) => {
        return !this.deletedShots.includes(shot.id)
      })
    },
    filterDeletedPortions: function () {
      return this.cocktail.portions.filter((portion) => {
        return !this.deletedPortions.includes(portion.id)
      })
    },
    filteredSpirits: function(){
      let brandnameFilter = this.spirits
      if (this.spiritSelection !== "All") {
        brandnameFilter = this.spirits.filter((spirit)=>{
          return spirit.category.toUpperCase().match(this.spiritSelection.toUpperCase())
        })
      }
      searchFilter = brandnameFilter.filter((spirit)=>{
        return spirit.brandname.toUpperCase().match(this.spiritSearch.toUpperCase())
      })
      return searchFilter
    }
  },
})

</script>
{% endblock %}