{% extends 'base.html' %}
{% block title %}
    BevDev Home
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type='text/javascript'>
const cocktails = {{ cocktails|safe }}
</script>

<div id='homeapp'>
  <h2>Your Drink Menu</h2>
  <div v-bind:title="message" v-for="cocktail in cocktails">
    <div v-bind:id="cocktail.id">
      <p>[[ message ]]</p>
      <h3 >[[ cocktail.name ]]</h3>
      <p>Cost/Loss: [[ cocktail.total_cost ]]</p>
      <p>Recommended: [[ cocktail.recommended_price ]]</p>
      <button v-on:click="deleteCocktail(cocktail.id)">DELETE</button>
      <button v-on:click="editCocktail(cocktail.id)">EDIT</button>
    </div>
  </div>
</div>

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const instance = axios.create({
  headers: {
    'X-CSRFToken': getCookie("csrftoken"),
    'Content-Type': 'application/json',
    'Accept': 'application/json'
  }
})

let app = new Vue({
  delimiters: ['[[', ']]'],
  el: '#homeapp',
  data: {
    message: 'poop',
    cocktails: cocktails,
  },
  methods: {
    deleteCocktail: function(id) {
      instance.delete(`http://127.0.0.1:8000/api/cocktail/${id}`)
      .then(function(response) {
      }).then(function(data){
        console.log("data is ok", data)
      }).catch(function(ex) {
        console.log('parsing failed', ex)
      })

      console.log(`Haha, youre trying to delete cocktail ${id} but I didnt listen`)
    },
    editCocktail: function(id) {
      console.log(`Haha, youre trying to edit cocktail ${id} but I didnt listen`)
    }
  }
})

// // register modal component
// Vue.component('modal', {
//   template: '#modal-template',
//   props: {
//     show: {
//       type: Boolean,
//       required: true,
//       twoWay: true
//     }
//   }
// })

// // start app
// new Vue({
//   el: '#app',
//   data: {
//     showModal: false
//   }
// })

// </script>


{% endblock %}