{% extends 'base.html' %}
{% block title %}
BevDev Home
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type='text/javascript'>
const cocktails = {{ cocktails|safe }}
console.log(cocktails)
</script>
<!---------------------------------BEGIN HTML --------------------------->
<header class='header container'>
  <p class='site-title'>BevDev</p>
</header>
<div id='homeapp' class="container">
  <p class="menu-heading">Your Drink Menu</p>
  <input type="text" v-model="search" placeholder="FILTER COCKTAILS" class="form-input w-50 default-shadow"/>
  <div v-for="cocktail in filteredCocktails">
    <div v-bind:id="cocktail.id" class="menu-item default-shadow">
      <p>[[ cocktail.name ]]</p>
      <div>
        <a v-bind:href="`/cocktails/${cocktail.id}`"><button class="btn menu-butt">EDIT</button></a>
        <button @click="showDeleteModal=(cocktail.id)" class="btn menu-butt">DELETE</button>
        <button @click="cocktailSummary(cocktail.id)" class="btn menu-butt">SEE RECIPE</button>
      </div>
    </div>
    <div v-if="showDeleteModal==cocktail.id" class="modal-bg">
      <div  class="modal-container pnk-bg">
        <p class="bold">Are you sure you want to delete [[ cocktail.name ]]?</p>
        <button @click="deleteCocktail(cocktail.id)" class="btn danger-butt">YES, PLEASE DELETE.</button>
        <button @click="showDeleteModal=-1" class="btn menu-butt">NO! PEASE DON'T!</button>
      </div>
    </div>
    <div v-if="showModal==cocktail.id" class="modal-bg">
      <div class="modal-container">
        <p class='bold'>[[ cocktail.name ]]</p>
        <p>Liquors</p>
        <ul class='ingredient-ul'>
          <li v-for="shot in cocktail.shots">[[shot.volume]] oz of [[shot.brandname]]</li>
        </ul>
        <p>Mixers</p>
        <ul class='ingredient-ul'>
          <li v-for="portion in cocktail.portions">
            [[ portion.amount ]] [[portion.unit]] of [[ portion.name ]]</li>
        </ul>
        <button @click="showModal=-1" class="btn">EXIT</button>
      </div>
    </div>
  </div>
</div>

<!----------------------END HTML/START AXIOS CONFIG ------------------------->
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const instance = axios.create({
  headers: {
    'X-CSRFToken': getCookie("csrftoken"),
    'Content-Type': 'application/json',
    'Accept': 'application/json'
  }
})

//  ----------------------------------END AXIOS-FETCH CONFIG/ BEGIN VUE INSTANCE-----------------------------
let app = new Vue({
  delimiters: ['[[', ']]'],
  el: '#homeapp',
  data: {
    cocktails: [],
    showModal: -1,
    showDeleteModal: -1,
    search: "",
    modal_info:{
      id:"",
      name: "",
      target:"",
      shots: {
        id:"",
        volume:"",
        cost:"",
        brandname:""
      },
      portions: {
        id:"",
        amount:"",
        cost:"",
        name:""
      }
    }
  },
  methods: {
    deleteCocktail: function(id) {
      instance.delete(`http://127.0.0.1:8000/api/cocktail/${id}`)
      .then(function(response) {
      }).then(function(data){
        console.log("data is ok", data)
      }).catch(function(ex) {
        console.log('parsing failed', ex)
      })

      console.log(`Haha, youre trying to delete cocktail ${id} but I didnt listen`)
    },
    cocktailSummary: function(id) {
      this.showModal = id
      for(let cocktail of this.cocktails){
        if(cocktail.id == id) {
          this.modal_info = cocktail
          this.modal_shots = cocktail.shots
          this.modal_portions = cocktail.portions
        }
      }
    }
  },
  computed: {
    filteredCocktails: function(){
      return cocktails.filter((cocktail)=>{
        return cocktail.name.toUpperCase().match(this.search.toUpperCase())
      })
    }
  }
})
</script>

{% endblock %}