{% extends 'base.html' %}
{% block title %}
BevDev Home
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script type='text/javascript'>
  const cocktails = {{ cocktails| safe }}
  console.log(cocktails)
</script>
<!---------------------------------BEGIN HTML --------------------------->

<!---------------------------BEGIN MAIN---------------->
{% if user.is_authenticated %}
<div id='homeapp' class="container wide-100 flex-wrap">
  <header class='header container wide-100 space-between align-center'>
    <!-- <p class='wide-20 logo height-100'>Logo</p> -->
    <a class="wide-60 flex-col height-100" href="/">
      <p class='site-title text-left'>BevDev</p>
    </a>
    <div class='header-links text-white align-center flex-end wide-20 flex height-100 text-right'>
      {% if user.is_authenticated %}
      <p class="">{{ user }} | <a href="/accounts/logout/"> Logout </a></p>
      {% else %}
      <a href="/accounts/register/"> Register </a>
      |
      <a href="/accounts/login/"> Log in </a>
      {% endif %}
    </div>
  </header>
  <nav class="wide-100 dark-bg nav flex space-between pad-5">
    <input type="text" v-model="search" placeholder="Search"
      class="wide-70 input-default dark-bg text-white lt-placeholder" />
    <button class="btn wide-30 txt-1" @click="createModalAction"> <i class="fas fa-cocktail"> </i> NEW COCKTAIL</button>
  </nav>

  <!------NEW COCKTAIL MODAL------->
  <div class="wide-50 half-page">
    <div v-if="showCreateModal" class="modal-bg">
      <div class="wide-40 min-400 center-auto round-corners pad-10 blue-bg flex default-shadow">
        <form class="wide-100 flex flex-wrap flex-start align-center">
          <p class="wide-100 bold">Create a Cocktail</p>
          <div class="vert-padding-3 wide-100">
            <label for="new-cocktail-name" class="label-default txt-1">Name:</label>
            <input class="input-default" v-model="newCocktail.name" id="new-cocktail-name" placeholder="Cocktail Name"
              required>
          </div>
          <div class="vert-padding-3 wide-100">
            <label class="label-default txt-1" for="new-cocktail-target">Target Cost %:</label>
            <input class="input-default" v-model="newCocktail.target" type="new-cocktail-target" type="number" min="1"
              max="100" oninput="validity.valid||(value='')" placeholder="target percent of menu price" required>
          </div>
          <button @click="submitNewCocktail" class="btn-alt">SUBMIT</button>
          <i @click="createModalAction" class="far fa-window-close flex flex-end-self"></i>
        </form>
      </div>
    </div>
    <!------------------------MENU ITEMS---------------------->
    <p class="text-center bold txt-1h vert-padding-3">Your Drink Menu</p>
    <div v-for="cocktail in filteredCocktails">
      <div v-bind:id="cocktail.id" @click="modalAction(cocktail.id)"
        class="menu-item hover-blue-dark wide-100 flex-wrap default-shadow">
        <p class="bold wide-80">[[ cocktail.name ]]</p>
        <div class="wide-25" v-if="showModal==cocktail.id">
          <a v-bind:href="`/cocktails/${cocktail.id}`"><button class="btn"><i class="fas fa-edit"></i> EDIT</button></a>
          <button v-if="showModal==cocktail.id" @click="showDeleteModal=(cocktail.id)" class="btn"><i class="fas fa-trash-alt"></i> DELETE</button>
        </div>
        <!-- hidden items  -->
        <div class="wide-100 flex vert-padding-10" v-if="showModal==cocktail.id">
          <div class="wide-50 height-100">
            <p class="txt-h bold">Spirits</p>
            <ul class='ingredient-ul'>
              <li class="txt-h" v-for="shot in cocktail.shots">[[shot.volume]] oz of [[shot.brandname]]</li>
            </ul>
          </div>
          <div class="wide-50 height-100 ">
            <p class="txt-h bold">Mixers</p>
            <ul class='ingredient-ul'>
              <li class="txt-h" v-for="portion in cocktail.portions">
                [[ portion.amount ]] oz of [[ portion.name ]]</li>
            </ul>
          </div>

        </div>
      </div>
      <!-- DELETE CONFIRMATION MODAL -->
      <div v-if="showDeleteModal==cocktail.id" class="modal-bg">
        <div class="modal-container pnk-bg">
          <p class="bold">Are you sure you want to delete [[ cocktail.name ]]?</p>
          <button @click="deleteCocktail(cocktail.id)" class="btn danger-butt">YES, PLEASE DELETE.</button>
          <button @click="showDeleteModal=-1" class="btn menu-butt">NO! PEASE DON'T!</button>
        </div>
      </div>
    </div>
  </div>
  <div class="wide-50 half-page">
    <menu-graph v-bind:labels="labels" v-bind:totaldata="totaldata" v-bind:menudata="menudata"></menu-graph>
  </div>
  <div>
    <p>Average Pour Cost: [[ averageTargetCost]]% </p>
    <p>Average Menu Price: $[[ averagePrice]] </p>
    <p>Average Net Profit: $[[averageNetProfit]] </p>
  </div> 
</div>
<!---------------------------MENU STATS/FIGURE?--------------------->
<footer></footer>
{% endif %}
<!----------------------END HTML/START AXIOS CONFIG ------------------------->
<script>

  let menuGraph = {
    delimiters: ['[[', ']]'],
    props: {
      'labels': Array,
      'totaldata': Array,
      'menudata': Array,
    },
    data: function () {
      return {
        labels: "",
        totaldata: "",
        menudata: "",
      }
    },
    template: `
        <div class="wide-100 figure">
          <canvas class="figure" id="my-menu-stats" width="400" height="400"></canvas>
        </div>
      `
    ,
    mounted() {
      let pink = 'rgba(246, 2, 130, 1)'
      this.$nextTick(() => {
        let canvas = document.getElementById('my-menu-stats').getContext('2d')
        let menuStatsChart = new Chart(canvas, {
          type: 'horizontalBar',
          data: {
            labels: this.labels,
            datasets: [{
              label: 'Cost of Goods',
              data: this.totaldata,
              backgroundColor: 'rgba(75, 83, 95, 1)',
              // backgroundColor: 'rgba(167, 231, 231, 1)',
              // backgroundColor: 'rgba(107, 21, 241, .6)',
              borderWidth: 1,
            }, {
              label: 'Menu Price',
              data: this.menudata,
              // backgroundColor: 'rgba(167, 231, 231, .6)',
              backgroundColor: 'rgba(107, 21, 241, .8)',
              borderWidth: 1,
            }
            ]
          },
          options: {
            legend: {
              labels: {
                fontFamily: "'Scada', sans-serif"
              },
            },
            responsive: true,
            scales: {
              yAxes: [{
                stacked: true,
                ticks: {
                  beginAtZero: true
                }
              }],
              xAxes: [{
                ticks: {
                  // Include a dollar sign in the ticks
                  callback: function (value, index, values) {
                    return '$' + value;
                  }
                }
              }]
            }
          }
        })
      })
    }
  }



  // --------------------AXIOS CONFIG --------------------------
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  const instance = axios.create({
    headers: {
      'X-CSRFToken': getCookie("csrftoken"),
      'Content-Type': 'application/json',
      'Accept': 'application/json'
    }
  })

  //  ----------------------------------VUE INSTANCE-----------------------------
  let app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#homeapp',
    components: {
      'menu-graph': menuGraph
    },
    data: {
      cocktails: cocktails,
      labels: [],
      totaldata: [],
      menudata: [],
      backgroundColorTotal: [],
      backgroundColorMenu: [],
      deletedCocktails: [],
      showModal: -1,
      showDeleteModal: -1,
      showCreateModal: false,
      search: "",
      modal_info: {
        id: "",
        name: "",
        target: "",
        shots: {
          id: "",
          volume: "",
          cost: "",
          brandname: ""
        },
        portions: {
          id: "",
          amount: "",
          unit: "",
          cost: "",
          name: ""
        }
      },
      newCocktail: {
        name: "",
        target: 18,
      }
    },
    methods: {
      deleteCocktail: function (id) {
        this.deletedCocktails.push(id)
        instance.delete(`http://127.0.0.1:8000/api/cocktail/${id}`)
          .then(function (response) {
          }).then(function (data) {
            console.log("data is ok", data)
          }).catch(function (ex) {
            console.log('parsing failed', ex)
          })

        console.log(`Haha, youre trying to delete cocktail ${id} but I didnt listen`)
      },
      modalAction: function (id) {
        if (this.showModal === id) {
          this.showModal = -1
        }
        else {
          this.showModal = id
        }
      },
      createModalAction: function () {
        if (this.showCreateModal) {
          this.showCreateModal = false
        }
        else {
          this.showCreateModal = true
        }
      },
      submitNewCocktail: function () {
        instance.post('/api/cocktail/', {
          name: this.newCocktail.name,
          target_profit: this.newCocktail.target,
        })
          .then(res => {
            window.location = `/cocktails/${res.data.id}/`
          })
          .catch(res => {
            console.log(res)
          })
      },
      getFilteredCocktails: function() {
        let filter_deleted = cocktails.filter((cocktail) => {
          return !this.deletedCocktails.includes(cocktail.id) && cocktail.name.toUpperCase().match(this.search.toUpperCase())
        })
        return filter_deleted
      }
    },
    computed: {
      filteredCocktails: function () {
        let filter_deleted = cocktails.filter((cocktail) => {
          return !this.deletedCocktails.includes(cocktail.id) && cocktail.name.toUpperCase().match(this.search.toUpperCase())
        })
        return filter_deleted
      },
      averageTargetCost: function () {
        total = 0
        let filterDeleted = this.getFilteredCocktails()
        for (cocktail in filterDeleted) {
          total += (this.cocktails[cocktail].target)

        }
        return (total / this.cocktails.length).toFixed(0)
      },
      averagePrice: function () {
        total = 0
        let filterDeleted = this.getFilteredCocktails()

        for (cocktail in filterDeleted) {
          total += this.cocktails[cocktail].menu
          console.log(this.cocktails[cocktail])

        }
        return (total / this.cocktails.length).toFixed(2)
      },
      averageNetProfit: function () {
        total = 0
        let filterDeleted = this.getFilteredCocktails()
        for (cocktail in filterDeleted) {
          total += (this.cocktails[cocktail].menu - this.cocktails[cocktail].total)
          console.log(this.cocktails[cocktail])

        }
        return (total / this.cocktails.length).toFixed(2)
      }
    },
    mounted() {
      for (let i = 0; i < this.cocktails.length; i++) {
        this.labels.push(cocktails[i].name)
        this.totaldata.push(cocktails[i].total)
        this.menudata.push(cocktails[i].menu)
      }
    }
  })
</script>

{% endblock %}