{% extends 'base.html' %}

{% block title %}
    Drink Builder
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type='text/javascript'>
const cocktail = {{ cocktail|safe }}
</script>
<!--  -->
<!-- Cannot resolve keyword 'shot' into field. Choices are: cocktail, cocktail_id, id, spirit, spirit_id, volume -->

<div id="drink-builder-edit">
    <h1>[[ cocktail.name ]]</h1>
    <button v-on:click='clearShots'>Clear Butts</button>
    <div class='shotty' v-for='shot in shots'>
        <div v-bind:id="shot.id">
            <h2>Shot ID #: [[ shot.id ]]</h2>
            <h3>Cocktail #: [[shot.cocktail]] </h3>
            <h3>Spirit #: [[shot.spirit]]</h3>
            <input type="range" min='.25' max='10' step='.25' value= '[[ shot.volume ]]'> 
            <p>Volume: [[shot.volume]]</p>
    </div>
</div>

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const instance = axios.create({
  headers: {
    'X-CSRFToken': getCookie("csrftoken"),
    'Content-Type': 'application/json',
    'Accept': 'application/json'
  }
})

let app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#drink-builder-edit',
    data: {
        cocktail: cocktail,
        shots: []
  },
    beforeCreate: function() {
        console.log('hi this is before create')
    },
    created: function() {
      console.log('hi its me i\'m createdddd')
    },
    mounted: function() {
        console.log('mounted')
    
            this.getShots()

    },
    beforeUpdate: function() {
        console.log('before update', document.getElementsByClassName('shotty').length)
    },
    updated: function() {
        console.log('updated', document.getElementsByClassName('shotty').length)
    },
    methods: {
        getShots: function() {
            instance.get('http://127.0.0.1:8000/api/shot/')
                .then((response) => {
                    console.log(response.data)
                    return response.data
                }).then(this.handleShotData)
                .catch(function(ex) {
                    console.log('parsing failed', ex)
                })
        },
        handleShotData: function(data) {
            // console.log("data is ok", data)
            // console.log(this)
            this.shots = data
        },
        clearShots: function() {
            this.shots=[]
        }
    }
})

</script>

{% endblock content %}


<!-- 
let app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#homeapp',
    data: function() {
      return {
        message: 'poop',
        cocktails: cocktails,
        spirits: []
      }
    },
    beforeCreate: function() {
      console.log('hi this is before create')
    },
    created: function() {
      console.log('hi its me i\'m createdddd')
      this.getSpirits()
  
    },
    methods: {
      getSpirits: function() {
        console.log('before axios')
        instance.get('http://127.0.0.1:8000/api/spirit/')
          .then((response) => {
            console.log(response)
            return response.data
            // this.spirits = response.data
            // console.log(this)
          }).then(this.handleSpiritsData)
          .catch(function(ex) {
            console.log('parsing failed', ex)
          })
        console.log('after axios')
      }, 
      handleSpiritsData: function(data) {
        console.log("data is ok", data)
        console.log(this)
        this.spirits = data
      },
      deleteCocktail: function(id) {
        instance.delete(`http://127.0.0.1:8000/api/cocktail/${id}`)
        .then(function(response) {
        }).then(function(data){
          console.log("data is ok", data)
        }).catch(function(ex) {
          console.log('parsing failed', ex)
        })
  
        console.log(`Haha, youre trying to delete cocktail ${id} but I didnt listen`)
      },
      editCoctail: function(id) {
        console.log(`Haha, youre trying to edit cocktail ${id} but I didnt listen`)
      }
    }
  }) -->

  