{% extends 'base.html' %}
{% block title %}
Welcome to BevDev
{% endblock %}

{% block content %}
<div class='container flex flex-col'>
    <img class='welcome-img vert-margin-30' src='https://upload.wikimedia.org/wikipedia/commons/d/db/Rum%2C_Manhattan%2C_Tequila_Old_Fashioned.jpg'>
    <h1 class='center-txt text-pink'>Welcome to BevDev</h1>
    <p class='vert-margin-10 txt-1h light-stroke'>BevDev is a powerfully simple cocktail-pricing tool for service industry professionals. Lightweight and nimble, bartenders and beverage directors will find our application a welcome addition to their toolkit, while management and ownership will love the accurate profit and loss data.</p>
    <p class='vert-margin-10 txt-1h light-stroke'>The best way to use BevDev is to jump right in and make your first cocktail. Don't have an account? Register  <a href="/accounts/register/">here</a> for free!</p> 
</div>

{% endblock %}