{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Scada&display=swap" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/a1221e6993.js" crossorigin="anonymous"></script>

    <title>
        {% block title %}{% endblock %}
    </title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    {% block meta %} {% endblock %}
    <!-- <script src="{% static 'js/script.js' %}" defer></script> -->
</head>

<body>
    <div class='container flex-wrap flex-col wide-100' id='drink-edit'>
        <header class='header container wide-100 space-between align-center'>
          <!-- <p class='wide-20 logo height-100'>Logo</p> -->
          <a class="wide-60 flex-col height-100" href="/">
            <p class='site-title text-left'>BevDev</p>
          </a>
          <div class='header-links text-white align-center flex-end wide-20 flex height-100 text-right'>
            {% if user.is_authenticated %}
            <p class="">{{ user }} | <a href="/accounts/logout/"> Logout </a></p>
            {% else %}
            <a href="/accounts/register/"> Register </a>
            |
            <a href="/accounts/login/"> Log in </a>
            {% endif %}
          </div>
        </header>
    {% block content %}
    {% endblock content %}
</body>

</html>