{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
    <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <style>@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Orbitron|Bebas+Neue|Monoton&display=swap');</style>
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"> -->
    <title>
        {% block title %}{% endblock %}
    </title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/script.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
</head>
<body>
    <header class='header'>
        <h1 class='site-title'>BevDev</h1>
    </header>
    {% block content %}

    {% endblock content %}

</body>
</html>